<div>
    <table>
        <tr>
        <th>Num</th>
        <th>Nom</th>
        <th>Prenom</th>
        <th>Date de naissance</th>
        <th>Email</th>
          <th>Téléphone</th>
          <th>Actions</th>
        </tr>
        <tr *ngFor="let c of listOfContact">
            <td>{{c.id}}</td>
            <td>{{c.nom}}</td>
            <td>{{c.prenom}}</td>
            <td>{{c.date_naissance}}</td>
            <td>{{c.email}}</td>
          <td>{{c.tel}}</td>
          <td>
          <a (click)="editContact(c.id)"  class="clickable">Edit</a>
        </td>
          <td>
            <a (click)="deleteContact(c.id)"  class="clickable">Delete</a>
          </td>

        </tr>
    </table>
</div>
